<form action="?{$old_query_string}&s=save" method="POST">
<table width="300" align="center">
  <tr>
    <td width="50%" align="right">
      Pagina:
    </td>
    <td width="50%" align="left">
      <textarea name="page_content" rows="5" cols="30">{$page_content}</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="2" width="100%" align="center">
      <input type="submit" value="Salva">
    </td>
  </tr>
</table>
</form>