{* Riquadro per la visualizzazione degli errori *}

<table width="500px" align="center" cellpadding="1" cellspacing="2" bgcolor="#FFCCCC" style="border: 1px #FF0000 solid">
  <tr>
    <td width="100%" align="center" style="border-bottom: 1px #CC0000 solid">
      <font color="#FF0000"><b>ERRORE</b></font>
    </td>
  </tr>
  <tr>
    <td width="100%">
      <font color="#CC0000">
      <b>Descrizione:</b>&nbsp;{$content}{* La descrizione dell'errore *}
      </font>
      <br>L'errore è stato registrato e presto sarà risolto.
    </td>
  </tr>
</table>