{* Template di una pagina generica del sito
 * Ogni variabile presente qui dentro comporterà una chiamata ad una funzione PHP per
 * permettere di caricare il componente relativo alla variabile stessa. *}
 
<html>
  <head>
    <title>{$get_title}{* Titolo della pagina *}</title>
	<style>
	{literal}
	BODY {
		font-family: Verdana;
		font-size: 8pt;
	}
	TABLE {
		font-family: Verdana;
		font-size: 8pt;
	}
	{/literal}
	</style>
  </head>
  <body>
    <h1>Sito di enrico</h1>
    <table widh="700px" border="1">
      <tr>
        <td width="200px" valign="top">
          {$fnc_nav_menu}{* Menu di navigazione *}
        </td>
        <td>
          {$content}{* Contenuto della pagina *}
        </td>
        <td width="200px" valign="top">
          {$fnc_dx_menu}{* Menu sulla destra *}
        </td>
      </tr>
    </table>
  </body>
</html>