<form action="?{$old_query_string}&s=do_login" method="POST">
<table width="300" align="center">
  <tr>
    <td width="50%" align="right">
      Username:
    </td>
    <td width="50%" align="left">
      <input type="text" name="user">
    </td>
  </tr>
  <tr>
    <td width="50%" align="right">
      Password:
    </td>
    <td width="50%" align="left">
      <input type="password" name="pwd">
    </td>
  </tr>
  <tr>
    <td colspan="2" width="100%" align="center">
      <input type="submit" value="Entra">
    </td>
  </tr>
</table>
</form>