{* Template per la visualizzazione delle news in formato ridotto *}
<p><table cellspacing="2" cellpadding="2" style="width="100%">
  <tr>
    <td width="100%">
      <b>{$news_date}{* Data di inserimento della news *}</b> - 
      <b><a href="index.php?r=show_news&id={$news_id_1}{* Id della news *}">{$news_title}{* Titolo della news *}</a></b>
    </td>
  </tr>
</table></p>
